registry=http://nexus.mchz.com.cn:4873/
'http://nexus.mchz.com.cn:4873/:_authToken': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6eyJuYW1lIjoiamF4Y2hvdyIsImdyb3VwcyI6WyJqYXhjaG93IiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sInJlYWxfZ3JvdXBzIjpbImpheGNob3ciXX0sIm5hbWUiOiJqYXhjaG93IiwiZ3JvdXBzIjpbIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCIseyJuYW1lIjoiamF4Y2hvdyIsImdyb3VwcyI6WyJqYXhjaG93IiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sInJlYWxfZ3JvdXBzIjpbImpheGNob3ciXX1dLCJpYXQiOjE1ODQwNjM0NTcsIm5iZiI6MTU4NDA2MzQ1OCwiZXhwIjoxNTg5MjQ3NDU3fQ.XXiUCUR2DclkKV0hW2eqtsXPBDOiH5-zzU7WaMbViyU',
